div {
    text-align: center;
    margin: 5px;
}

button {
    aspect-ratio: 1 / 1;
    height: 80px;
    width: 80px;
    font-size: 25px;
}

#display {
    font-size: 30px;
    min-height: 35px;
    margin: 20px;
}

#equation {
    font-size: 30px;
    min-height: 35px;
    text-align: center;
}